.recent-book {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2.25rem;
}

.book-title {
  font-weight: 500 !important;
  color: #4c4c4d;
}

.book-author {
  font-weight: 200;
  color: 79797a;
  text-transform: uppercase;
}

.book-cell {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.25rem;
}

.percent-read {
  text-align: center;
  vertical-align: middle;
  color: #4c4c4d7e;
}

.book-img-wrapper {
  position: relative;
}

.book-img-wrapper img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.book-img-set {
  height: "150";
  width: "100";
  style: "vertical-align: bottom; object-fit: cover;";
}
